:root {
    /* css variables */
    --main-text-color: rgb(54,55,60);
    --accent-color: rgb(221, 210, 206);
}

/* element selectors */

html {
    font-size: 62.5%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 1.75rem;
    line-height: 1.5;
    /* color: TODO; */
    background-color:rgba(244, 240, 238, 0.37);
}

header{
    display: flex;
    background-color: var(--main-text-color);
    color: var(--main-text-color);
}
nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}

nav ul{
    padding-top: 20px;
}
li {
    display: inline;
    font-size: 2.25rem;
}

main {
    color: var(--main-text-color);
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: .625rem;
}

h1 {
    font-size: 4rem;
    background-color: var(--accent-color);
    margin-top:5px;
    padding-right: 5px;
    padding-left:60px;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.5 rem;
}

article ul{
    display: flex;
    justify-content: space-evenly;
    color: var(--main-text-color);
}

footer {
    text-align: center;
    padding: 3px;
}
/* class & id selectors */

.row{
    display: flex;
    margin: 30px 0; 
}

.sidebar{
    width: 12%;
    border-right: 5px solid rgb(54, 55, 60);
    padding-right: 1%;
    margin-left: 5%;
    text-align: right;
}

.section-content{
    width: 80%;
    padding-left: 2%;
    margin-left: 2%;
}

.photo-div{
    display: flex;
    background-image: url(./Img/bg-print-img.avif);
    background-repeat:no-repeat;
    background-size: cover;
    height: 15vmax;
}

.app-tile{
    width: 45%;
    max-width: 45%;
    padding:1%;
    margin: 1%;
    position: relative;
}

.app-tile img{
    width:97%;
    border: 5px solid rgb(221, 210, 206);
}

.description{
    position: absolute;
    background-color: rgb(221, 210, 206);
    bottom:50px;
    left:16px;
    padding: 10px;
    
}

.header-link{
    color: var(--accent-color);
    padding: 30px;
}

#feature-project {
    width: 95%;
    max-width:95%;
}

#portfolio-projects{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#profile-img{
    margin-left: 80px;
    padding: 5px;
}

#contact-links{
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid rgb(54, 55, 60);
}